## Logins em dispositivos por mês

Um conjunto de registos foi criado a partir do login em diferentes dispositivos numa aplicação. Vamos comparar a proporção de entradas nos dispositivos por mês.

Uma amostra do dataset `activity.csv` é apresentada em seguida:

In [1]:
import pandas as pd
df = pd.read_csv('../data/activity.csv')
df.head()

   id  user_id  created_at   device
0   1      101  2015-02-08  windows
1   2      103  2015-01-07      mac
2   3      132  2014-12-09      mac
3   4      247  2015-07-13  android
4   5      313  2015-06-20  android

Note que, nos dados:

- Os registos representam transações.
- O id é a chave (valor único).
- Deve agrupar os dados por um critério e contar os registos.
- Na análise deve filtrar pelo atributo device.
- Realizar as visualizações utilizando os gráficos stackplot e stacked bar.