# Reverse Engineering
Este notebook possui o intuito de **tratar os dados** de forma a serem utilizados com **qualidade** na **Análise Exploratória de Dados** e demais atividades relacionadas a este dataset.


### Definição da Base de Dados Relacional:

#### Database: `Produtividade`

- Tabela: `Clientes` (**id_cliente**, nome, morada, distrito, valor_hora, horas_mensais_orcamentadas, satisfacao, <u>id_colaborador</u>)

- Tabela: `Colaboradores` (**id_colaborador**, nome, salario_base, horas_semanais, idade, qualificacao, <u>id_equipa</u>)

- Tabela: `Equipas` (**id_equipa**, nome)

- Tabela: `Tarefas` (**id_tarefa**, nome, descricao)

- Tabela: `Rel_Clientes_Colaboradores_Tarefas` (**<u>id_cliente</u>**, **<u>id_colaborador</u>**, **<u>id_tarefa</u>**, data, hora_inicio, hora_fim)

- Tabela: `Clientes` (**id_cliente**, nome, morada, distrito, valor_hora, horas_mensais_orcamentadas, satisfacao, <u>id_colaborador</u>)

In [1]:
sql_create_queries = []

In [2]:
query = """ CREATE TABLE IF NOT EXISTS Clientes (
        id_cliente INT PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        morada VARCHAR(255),
        distrito VARCHAR(255),
        valor_hora INT NOT NULL,
        horas_mensais_orcamentadas INT NOT NULL,
        satisfacao INT NOT NULL,
        id_colaborador INT NOT NULL,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador)
        ); """

sql_create_queries.append(query)
print(query)

 CREATE TABLE IF NOT EXISTS Clientes (
        id_cliente INT PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        morada VARCHAR(255),
        distrito VARCHAR(255),
        valor_hora INT NOT NULL,
        horas_mensais_orcamentadas INT NOT NULL,
        satisfacao INT NOT NULL,
        id_colaborador INT NOT NULL,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador)
        );

- Tabela: `Colaboradores` (**id_colaborador**, nome, salario_base, horas_semanais, idade, qualificacao, <u>id_equipa</u>)

In [3]:
query = """ CREATE TABLE IF NOT EXISTS Colaboradores (
        id_colaborador INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        salario_base DECIMAL NOT NULL,
        horas_semanais INT NOT NULL,
        idade INT NOT NULL,
        qualificacao VARCHAR(255) NOT NULL,
        id_equipa INT NOT NULL,
        FOREIGN KEY (id_equipa) REFERENCES Equipas(id_equipa)
        );"""

sql_create_queries.append(query)
print(query)

 CREATE TABLE IF NOT EXISTS Colaboradores (
        id_colaborador INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        salario_base DECIMAL NOT NULL,
        horas_semanais INT NOT NULL,
        idade INT NOT NULL,
        qualificacao VARCHAR(255) NOT NULL,
        id_equipa INT NOT NULL,
        FOREIGN KEY (id_equipa) REFERENCES Equipas(id_equipa)
        );

- Tabela: `Equipas` (**id_equipa**, nome)

In [4]:
query = """CREATE TABLE IF NOT EXISTS Equipas (
        id_equipa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL
        );"""

sql_create_queries.append(query)
print(query)

CREATE TABLE IF NOT EXISTS Equipas (
        id_equipa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL
        );

- Tabela: `Tarefas` (**id_tarefa**, nome, descricao)

In [5]:
query = """CREATE TABLE IF NOT EXISTS Tarefas (
        id_tarefa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        descricao VARCHAR(255)
        );"""

sql_create_queries.append(query)
print(query)

CREATE TABLE IF NOT EXISTS Tarefas (
        id_tarefa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        descricao VARCHAR(255)
        );

- Tabela: `Rel_Clientes_Colaboradores_Tarefas` (**<u>id_cliente</u>**, **<u>id_colaborador</u>**, **<u>id_tarefa</u>**, data, hora_inicio, hora_fim)

In [6]:
query = """CREATE TABLE IF NOT EXISTS Rel_Clientes_Colaboradores_Tarefas (
        id_cliente INT NOT NULL PRIMARY KEY,
        id_colaborador INT NOT NULL PRIMARY KEY,
        id_tarefa INT NOT NULL PRIMARY KEY,
        data DATE NOT NULL,
        hora_inicio TIME NOT NULL,
        hora_fim TIME NOT NULL
        FOREIGN KEY (id_cliente) REFERENCES Clientes(id_cliente) ON DELETE CASCADE,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador) ON DELETE CASCADE,
        FOREIGN KEY (id_tarefa) REFERENCES Tarefas(id_tarefa) ON DELETE CASCADE
        );"""

sql_create_queries.append(query)
print(query)

CREATE TABLE IF NOT EXISTS Rel_Clientes_Colaboradores_Tarefas (
        id_cliente INT NOT NULL PRIMARY KEY,
        id_colaborador INT NOT NULL PRIMARY KEY,
        id_tarefa INT NOT NULL PRIMARY KEY,
        data DATE NOT NULL,
        hora_inicio TIME NOT NULL,
        hora_fim TIME NOT NULL
        FOREIGN KEY (id_cliente) REFERENCES Clientes(id_cliente) ON DELETE CASCADE,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador) ON DELETE CASCADE,
        FOREIGN KEY (id_tarefa) REFERENCES Tarefas(id_tarefa) ON DELETE CASCADE
        );

In [7]:
for query in sql_create_queries:
    print(query)

 CREATE TABLE IF NOT EXISTS Clientes (
        id_cliente INT PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        morada VARCHAR(255),
        distrito VARCHAR(255),
        valor_hora INT NOT NULL,
        horas_mensais_orcamentadas INT NOT NULL,
        satisfacao INT NOT NULL,
        id_colaborador INT NOT NULL,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador)
        );
 CREATE TABLE IF NOT EXISTS Colaboradores (
        id_colaborador INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        salario_base DECIMAL NOT NULL,
        horas_semanais INT NOT NULL,
        idade INT NOT NULL,
        qualificacao VARCHAR(255) NOT NULL,
        id_equipa INT NOT NULL,
        FOREIGN KEY (id_equipa) REFERENCES Equipas(id_equipa)
        );
CREATE TABLE IF NOT EXISTS Equipas (
        id_equipa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL
        );
CREATE TABLE IF NOT EXISTS Tarefas (
        id_tarefa INT NOT NULL PRIMARY KEY,
        nome VARCHAR(255) NOT NULL,
        descricao VARCHAR(255)
        );
CREATE TABLE IF NOT EXISTS Rel_Clientes_Colaboradores_Tarefas (
        id_cliente INT NOT NULL PRIMARY KEY,
        id_colaborador INT NOT NULL PRIMARY KEY,
        id_tarefa INT NOT NULL PRIMARY KEY,
        data DATE NOT NULL,
        hora_inicio TIME NOT NULL,
        hora_fim TIME NOT NULL
        FOREIGN KEY (id_cliente) REFERENCES Clientes(id_cliente) ON DELETE CASCADE,
        FOREIGN KEY (id_colaborador) REFERENCES Colaboradores(id_colaborador) ON DELETE CASCADE,
        FOREIGN KEY (id_tarefa) REFERENCES Tarefas(id_tarefa) ON DELETE CASCADE
        );